Repository hmcts/dynatrace-availability-dashboards, pull requests merged in 2022-12, with the labels that each got.

#172 Fail on incorrect env key
  scripts/push_and_create_pr.sh
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes

#173 Update links to reflect yml -> yaml
  README.md
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes

#174 DTSPO-11720 Skip Prevent Parallel Runs when running terraform plans
  azure-pipelines.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes

#181 ithc - Update YAML definitions
  dynatrace/management_zones/management_zones_ithc.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve, ithc-dt-availability-dashboards/destroy

#182 perftest - Update YAML definitions
  dynatrace/management_zones/management_zones_perftest.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_perftest.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, auto-approve, test-dt-availability-dashboards/destroy

#183 demo - Update YAML definitions
  dynatrace/management_zones/management_zones_demo.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: demo-dt-availability-dashboards/destroy, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve

#184 demo - Update YAML definitions
  dynatrace/management_zones/management_zones_demo.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: demo-dt-availability-dashboards/add-or-update, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve

#185 demo - Update YAML definitions
  dynatrace/management_zones/management_zones_demo.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: demo-dt-availability-dashboards/destroy, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve

#186 Fix manual auto-approve runs
  scripts/push_and_create_pr.sh
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes

#188 Fix filtering conditions
  scripts/helpers.py
  scripts/test_helpers.py
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes

#191 demo - Update YAML definitions
  dynatrace/management_zones/management_zones_demo.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: demo-dt-availability-dashboards/destroy, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve

#190 Label isn't being added to PR
  scripts/push_and_create_pr.sh
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes

#192 demo - Update YAML definitions
  dynatrace/management_zones/management_zones_demo.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: demo-dt-availability-dashboards/destroy, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve
