Repository hmcts/dynatrace-availability-dashboards, pull requests merged in 2023-02, with the labels that each got.

#245 demo - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update, stg-dt-maintenance-window/no-changes

#243 Env based maintenance windows
  README.md
  azure-pipelines.yaml
  components/dt-availability-dashboards/auto_maintenance_window.tf
  components/dt-availability-dashboards/planned_maintenance_window.tf
  components/dt-availability-dashboards/variables.tf
  components/dt-maintenance-window/auto_maintenance_window.tf
  components/dt-maintenance-window/provider.tf
  components/dt-maintenance-window/temp_maintenance_window.tf
  components/dt-maintenance-window/variables.tf
  environments/demo/demo.tfvars
  environments/ithc/ithc.tfvars
  environments/ptlsbox/ptlsbox.tfvars
  environments/sbox/sbox.tfvars
  environments/stg/stg.tfvars
  environments/test/test.tfvars
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#247 Switch to single service connection for keuvault
  azure-pipelines.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#246 Disable HTTP monitor problem alerting
  components/dt-availability-dashboards/synthetic_monitor.tf
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#248 Add unknowns API to dashboard: isAutoRefreshDisabled
  components/dt-availability-dashboards/dashboard.tf
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes

#249 ithc - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve, ithc-dt-availability-dashboards/add-or-update

#254 ithc - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve, ithc-dt-availability-dashboards/add-or-update

#255 Add weekend maintenance windows
  README.md
  components/dt-availability-dashboards/auto_maintenance_window.tf
  components/dt-availability-dashboards/locals.tf
  components/dt-availability-dashboards/variables.tf
  environments/stg/stg.tfvars
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#256 Include day in maintenance window name to remove duplicated names
  components/dt-availability-dashboards/auto_maintenance_window.tf
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#259 demo - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/destroy, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#261 demo - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#262 ithc - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#263 perftest - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_perftest.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#266 update readme
  README.md
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#268 perftest - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_perftest.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#269 ithc - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#267 aat - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#271 ithc - Update YAML definitions
  dynatrace/management_zones/management_zones_ithc.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ithc-dt-availability-dashboards/destroy, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update

#274 ithc - Update YAML definitions
  dynatrace/management_zones/management_zones_ithc.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#275 demo - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#276 sbox - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_sbox.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update
