Repository hmcts/dynatrace-availability-dashboards, pull requests merged in 2023-03, with the labels that each got.

#278 sbox - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_sbox.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#279 demo - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/destroy, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#281 perftest - Update YAML definitions
  dynatrace/management_zones/management_zones_perftest.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_perftest.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#280 Fix idam urls
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_perftest.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_sbox.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#284 aat - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#290 aat - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#292 demo - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/destroy, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#293 perftest - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_perftest.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#295 perftest - Update YAML definitions
  dynatrace/management_zones/management_zones_perftest.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_perftest.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#296 ithc - Update YAML definitions
  dynatrace/management_zones/management_zones_ithc.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#298 ptlsbox - Update YAML definitions
  dynatrace/management_zones/management_zones_ptlsbox.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_ptlsbox.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#299 demo - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#300 demo - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/destroy, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#303 demo - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/destroy, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#306 demo - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#307 perftest - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_perftest.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#316 aat - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/destroy

#318 demo - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/destroy, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#317 aat - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/destroy

#309 Update logic to using https as a base for platform urls
  scripts/helpers.py
  scripts/test_helpers.py
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#334 ithc - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ithc-dt-availability-dashboards/destroy, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update

#336 sbox - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_sbox.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#338 demo - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/destroy, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#340 demo - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/destroy, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#342 demo - Update YAML definitions
  dynatrace/management_zones/management_zones_demo.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#341 Add traefik to filters during transition
  scripts/helpers.py
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#345 ithc - Update YAML definitions
  dynatrace/management_zones/management_zones_ithc.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#344 aat - Update YAML definitions
  dynatrace/management_zones/management_zones_aat.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#347 demo - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update
