Repository hmcts/dynatrace-availability-dashboards, pull requests merged in 2023-04, with the labels that each got.

#348 aat - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#351 ptlsbox - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_ptlsbox.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#352 ithc - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#354 aat - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#353 demo - Update YAML definitions
  dynatrace/management_zones/management_zones_demo.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#355 ithc - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#358 aat - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#360 aat - Update YAML definitions
  dynatrace/management_zones/management_zones_aat.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/destroy

#361 ithc - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#363 perftest - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_perftest.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#362 sbox - Update YAML definitions
  dynatrace/management_zones/management_zones_sbox.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_sbox.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#364 aat - Update YAML definitions
  dynatrace/management_zones/management_zones_aat.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#365 aat - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/destroy

#366 ithc - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#367 sbox - Update YAML definitions
  dynatrace/management_zones/management_zones_sbox.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_sbox.yaml
Labels: demo-dt-availability-dashboards/add-or-update, sbox-dt-availability-dashboards/destroy, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#368 aat - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/destroy

#359 update timeframe to 30 days
  components/dt-availability-dashboards/dashboard.tf
  components/dt-availability-dashboards/service_level_objective.tf
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#371 demo - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#372 perftest - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_perftest.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#370 aat - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#377 perftest - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_perftest.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, test-dt-availability-dashboards/destroy, ptlsbox-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#378 demo - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/destroy, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#376 ithc - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ithc-dt-availability-dashboards/destroy, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update
