Repository hmcts/dynatrace-availability-dashboards, pull requests merged in 2023-01, with the labels that each got.

#204 Debug daily
  components/dt-availability-dashboards/synthetic_monitor.tf
  scripts/helpers.py
  scripts/test_helpers.py
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes

#205 perftest - Update YAML definitions
  dynatrace/management_zones/management_zones_perftest.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_perftest.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/add-or-update

#210 Refactor or statement
  scripts/helpers.py
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/add-or-update

#211 aat - Update YAML definitions
  dynatrace/management_zones/management_zones_aat.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve, stg-dt-availability-dashboards/destroy

#206 demo - Update YAML definitions
  dynatrace/management_zones/management_zones_demo.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: demo-dt-availability-dashboards/add-or-update, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes

#209 ptlsbox - Update YAML definitions
  dynatrace/management_zones/management_zones_ptlsbox.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_ptlsbox.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/destroy

#212 ithc - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve, ithc-dt-availability-dashboards/add-or-update

#214 demo - Update YAML definitions
  dynatrace/management_zones/management_zones_demo.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: demo-dt-availability-dashboards/add-or-update, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve

#216 Update scheduled dailly run time
  azure-pipelines-daily.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes

#213 aat - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve, stg-dt-availability-dashboards/add-or-update

#218 sbox - Update YAML definitions
  dynatrace/management_zones/management_zones_sbox.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_sbox.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve

#219 Update frequency to every 15 minutes
  components/dt-availability-dashboards/synthetic_monitor.tf
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#221 aat - Update YAML definitions
  dynatrace/management_zones/management_zones_aat.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve, stg-dt-availability-dashboards/add-or-update

#222 Update schedule time
  azure-pipelines-daily.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes

#224 aat - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve, stg-dt-availability-dashboards/add-or-update

#225 perftest - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_perftest.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, auto-approve, test-dt-availability-dashboards/add-or-update

#229 ptlsbox - Update YAML definitions
  dynatrace/management_zones/management_zones_ptlsbox.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_ptlsbox.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve, ptlsbox-dt-availability-dashboards/destroy

#227 ithc - Update YAML definitions
  dynatrace/management_zones/management_zones_ithc.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve, ithc-dt-availability-dashboards/add-or-update

#228 perftest - Update YAML definitions
  dynatrace/management_zones/management_zones_perftest.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_perftest.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, auto-approve, test-dt-availability-dashboards/add-or-update

#231 demo - Update YAML definitions
  dynatrace/management_zones/management_zones_demo.yaml
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: demo-dt-availability-dashboards/add-or-update, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve

#232 ithc - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve, ithc-dt-availability-dashboards/destroy

#233 Add default tags for monitors
  components/dt-availability-dashboards/synthetic_monitor.tf
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#234 aat - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/destroy

#236 perftest - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_perftest.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, auto-approve, test-dt-availability-dashboards/destroy

#237 ithc - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve, ithc-dt-availability-dashboards/destroy

#238 aat - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, auto-approve, stg-dt-availability-dashboards/add-or-update

#242 Update window type
  components/dt-maintenance-window/temp_maintenance_window.tf
Labels: demo-dt-availability-dashboards/no-changes, sbox-dt-availability-dashboards/no-changes, stg-dt-availability-dashboards/no-changes, ithc-dt-availability-dashboards/no-changes, ptlsbox-dt-availability-dashboards/no-changes, test-dt-availability-dashboards/no-changes, stg-dt-maintenance-window/add-or-update
