Repository hmcts/dynatrace-availability-dashboards, pull requests merged in 2023-06, with the labels that each got.

#392 Updating renovate config
  .github/renovate.json
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#393 sbox - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_sbox.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#394 sbox - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_sbox.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#395 ithc - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_ithc.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ithc-dt-availability-dashboards/destroy, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update

#397 aat - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_aat.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/destroy

#396 perftest - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_perftest.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, test-dt-availability-dashboards/destroy, ptlsbox-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/destroy

#399 sbox - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_sbox.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#401 demo - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_demo.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/destroy, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#402 perftest - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_perftest.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update

#403 perftest - Update YAML definitions
  dynatrace/synthetic_monitors/synthetic_monitors_perftest.yaml
Labels: sbox-dt-availability-dashboards/add-or-update, demo-dt-availability-dashboards/add-or-update, auto-approve, ptlsbox-dt-availability-dashboards/add-or-update, test-dt-availability-dashboards/add-or-update, stg-dt-availability-dashboards/add-or-update, ithc-dt-availability-dashboards/add-or-update
